<div class="mt-5 container">

    <div class="alert alert-primary">Topic {{topicId}}</div>
    <div class="input-group my-2">
        <input class="form-control" id="topic" [formControl]="todo">
        <button class="btn btn-primary" (click)="onAddTodo()">
            <i class="bi bi-plus-circle"></i>
        </button>
    </div>
    @for(todo of list; track $index) {
        <div class="alert alert-secondary">
            <i class="bi bi-x-circle-fill" (click)="onRemoveTodo(todo.id)"></i>
            <span>{{ todo.todo }}</span>
        </div>
    }

</div>
